.wx-chart.wx-mR7v2Xag {
  position: relative;
  flex: 1 1 auto;
  overflow-x: auto;
  overflow-y: hidden;
  outline: none;
}

.wx-markers.wx-mR7v2Xag {
  position: absolute;
}

.wx-marker.wx-mR7v2Xag {
  position: absolute;
  z-index: 4;
  width: 2px;
  height: 100%;
  text-align: center;
  user-select: none;
  transform: scaleX(-1);
  background: var(--wx-gantt-marker-color);
}

.wx-content.wx-mR7v2Xag {
  position: absolute;
  min-width: 50px;
  padding: 4px 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font: var(--wx-gantt-marker-font);
  color: var(--wx-gantt-marker-font-color);
  background-color: inherit;
  white-space: nowrap;
  transform: scaleX(-1);
}

.wx-area.wx-mR7v2Xag {
  position: relative;
  overflow-y: hidden;
}

.wx-selected.wx-mR7v2Xag {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  background: var(--wx-gantt-select-color);
}

.wx-cut.wx-mR7v2Xag {
  opacity: 50%;
}

.wx-gantt-holidays.wx-mR7v2Xag {
  height: 100%;
  width: 100%;
  position: absolute;
}

.wx-weekend.wx-mR7v2Xag {
  height: 100%;
  background: var(--wx-gantt-holiday-background);
  color: var(--wx-gantt-holiday-color);
  position: absolute;
}
