.wx-links.wx-dkx3NwEn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wx-line.wx-dkx3NwEn {
  pointer-events: none;
}

.wx-line.wx-dkx3NwEn > .wx-line-draw {
  pointer-events: none;
  stroke: var(--wx-gantt-link-color);
  stroke-width: 2;
  fill: transparent;
}

.wx-line.wx-dkx3NwEn > .wx-line-hitbox {
  pointer-events: stroke;
  stroke: transparent;
  stroke-width: 20;
  fill: transparent;
}

.wx-line-selectable.wx-dkx3NwEn:hover > .wx-line-draw {
  stroke: var(--wx-gantt-link-color-hovered);
}

.wx-line-selectable.wx-critical.wx-dkx3NwEn:hover > .wx-line-draw {
  stroke: var(--wx-gantt-link-critical-color-hovered);
}

.wx-line-selectable.wx-dkx3NwEn {
  cursor: pointer;
}

.wx-line.wx-line-selected.wx-dkx3NwEn > .wx-line-draw {
  stroke: var(--wx-color-danger);
}

.wx-critical.wx-dkx3NwEn > .wx-line-draw {
  stroke: var(--wx-gantt-link-critical-color);
}
