.wx-wrapper.wx-j93aYGQf {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wx-nobatch.wx-j93aYGQf {
  gap: 4px;
}

.wx-title.wx-j93aYGQf {
  font-weight: var(--wx-header-font-weight);
}

.wx-nodata.wx-j93aYGQf {
  color: var(--wx-gantt-icon-color);
  margin-top: 8px;
}
