.wx-action-icon.wx-disabled.wx-9DAESAHW {
  color: var(--wx-color-font-disabled);
  cursor: default;
}
.wx-action-icon.wx-9DAESAHW {
  cursor: pointer;
  font-size: var(--wx-icon-size);
  height: 16px;
  line-height: 16px;
  display: block;
  color: var(--wx-gantt-icon-color);
}
.wx-action-icon.wx-9DAESAHW:not(.wx-disabled):hover {
  color: var(--wx-color-link);
}
