.wx-content.wx-aadwWvd3 {
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.wx-toggle-icon.wx-aadwWvd3 {
  width: var(--wx-icon-size);
  min-width: 12px;
  height: 16px;
  line-height: 16px;
  margin: 0 5px;
  font-size: var(--wx-icon-size);
  color: var(--wx-gantt-icon-color);
  cursor: pointer;
  flex-shrink: 0;
}
.wx-toggle-placeholder.wx-aadwWvd3 {
  width: var(--wx-icon-size);
  height: 16px;
  line-height: 16px;
  margin: 0 5px;
  flex: 0 0 var(--wx-icon-size);
}

.wx-name.wx-aadwWvd3,
.wx-avatar-name.wx-aadwWvd3 span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wx-avatar-name.wx-aadwWvd3 {
  display: flex;
  align-items: center;
  gap: 5px;
  & .wx-avatar-root {
    flex: 0 0 auto;
  }
}
