.data.wx-Kp3tQm7v {
  white-space: nowrap;
  background-color: var(--wx-tooltip-background);
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wx-row.wx-Kp3tQm7v {
  display: flex;
  align-items: baseline;
  gap: 6px;
  font-family: var(--wx-font-family);
  font-size: 13px;
  color: var(--wx-color-primary-font);
}

.wx-label.wx-Kp3tQm7v {
  font-weight: normal;
}

.wx-value.wx-Kp3tQm7v {
  font-weight: 600;
}

.hovered.wx-Kp3tQm7v .wx-value {
  color: #ffd88a;
}
