.demo.wx-M5bD8hJk {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bar.wx-M5bD8hJk {
  padding: 20px;
  border-bottom: var(--wx-gantt-border);

  --wx-input-width: 100px;
}

.gantt.wx-M5bD8hJk {
  position: relative;
  height: calc(100% - 74px);
}
