.demo.wx-aadswCqt {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.toolbar-wrap.wx-aadswCqt {
  flex: 0 0 auto;
}
.gtcell.wx-aadswCqt {
  flex: 1;
  min-height: 0;
  display: flex;
  border-top: var(--wx-gantt-border);
  overflow: hidden;
}
.gtcell.wx-aadswCqt .wx-tooltip-area {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
}
.gantt.wx-aadswCqt {
  position: relative;
  flex: 1;
  min-width: 0;
  height: 100%;
  overflow: hidden;
}
