.wx-demos.demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  overflow: visible;
  height: 37px;
  font-weight: 400;
  padding-left: 16px;
  border-left: 4px solid transparent;
  color: var(--demo-link-fg);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

.wx-demos.demo.active {
  border-left-color: var(--demo-framework-color);
}

.wx-demos.demo.active,
.wx-demos.demo:hover {
  font-weight: 500;
  color: var(--demo-link-active-fg);
  background-color: var(--demo-link-active-bg);
}

.wx-demos.demo .pro {
  color: var(--demo-framework-color);
  border: 1px solid var(--demo-framework-color);
  border-radius: 4px;
  padding: 0px 8px;
  font-size: 12px;
  font-weight: 600;
  margin-left: auto;
  margin-right: 16px;
}
